.sidebar {
  width: calc(20vw - 5px);
  margin-left: 5px;
  height: calc(100vh - 10px);
  position: fixed;
}

.rating {
  font-weight: 700;
}
.card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
}

.card:hover {
  transform: scale(1.006);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
html *
{
  font-family: "Gill Sans", sans-serif;
}